<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "Rails7 Dev" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/asagiri@0.1.1/css/main.min.css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- グローバルスタイルの設定 -->
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      color: #333;
    }

    main {
      padding: 24px 44px 32px;
    }

    header,
    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
    <%= hotwire_livereload_tags if Rails.env.development? %>


</head>

<body>
  <!-- グローバルなヘッダー -->
  <header>
    <a href="./">
      <h1 class="head-1 design-font-en">My Application</h1>
    </a>
  </header>

  <main class="flex-column">
    <%= yield %>
  </main>

  <!-- グローバルなフッター -->
  <footer>
    <p>&copy; 2024 My Application</p>
  </footer>
</body>

</html>